<!DOCTYPE html>
<html>
<head>
  <title>Fondify | Hugo Lopez</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <script type="text/javascript" src="https://js.braintreegateway.com/v2/braintree.js"></script>
</head>
<body>

  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->

  <%= render 'layouts/header' %>

  <%= yield %>

</body>
</html>
